<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
{% block content %}
    <br>
    <form>
<!--      {% csrf_token %}-->
      <input name="search_field" type="search">
      <input type="submit" value="Search">
    </form> <br>
    <table class="table">
        <thead>
            <tr>
                <td> No. </td>
                <td> Area Name </td>
                <td> Cities  </td>
                <td> Pincode  </td>
            </tr>
    </thead>
    <tbody>
          {% for area in object_list %}
           <tr>
                  <td> {{ forloop.counter }} </td>
                  <td>{{ area.name }}</td>
                  <td>{{ area.city }}</td>
                  <td>{{area.pincode }}</td>
           </tr>
           {% endfor %}
    </tbody>
{% endblock %}
    </table>
</html>

